---
lb001.enocloud.com:
  :roles:
    - base
    - lbbase
    - lbmaster
  :server_ip: 101
  :hostname: lb001
lb002.enocloud.com:
  :roles:
    - base
    - lbbase
    - lbbackup
  :server_ip: 102
  :hostname: lb002
mgmt001.enocloud.com:
  :roles:
    - base
    - mgmt
  :server_id: 103
  :hostname: mgmt001
mgmt002.enocloud.com:
  :roles:
    - base
    - mgmt
  :server_ip: 104
  :hostname: mgmt002
mgmt003.enocloud.com:
  :roles:
    - base
    - mgmt
  :server_ip: 105
  :hostname: mgmt003
mgmt004.enocloud.com:
  :roles:
    - base
    - mgmt
  :server_ip: 106
  :hostname: mgmt004
cmpt001.enocloud.com:
  :roles:
    - base
    - cmpt
  :server_ip: 107
  :hostname: cmpt001
  :hostname_vip: openstack.enocloud.com
  :virt_type: kvm
